/*styles for whole document*/
* {
  box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}
  
body {
    margin: 0px;
}  

/*styles for header*/
.header-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.header.main-header {
    flex: auto;
    color: white;
    width: fit-content;
    padding: 5px 25px;
    border-radius: 20px;
    font-size: 2.5rem;
}

.list.of.other.sites {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 15px;
    margin: 0px;
    justify-content: center;
}
  
.list.of.other.sites li a {
    text-decoration: none;
    color: white;
    padding: 15px;
}
  
.list.of.other.sites li a:hover {
    background-color: black;
}

main.main-content {
    display: flex;
    padding: 20px;
    padding-left: 60px;
}

/*list of headers content*/
.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
    flex: auto;
    margin: 25px;
    padding: 15px;
    width: 20vw;
    height: 400px;
    position: sticky;
    top: 40px;
}

.list.of.contents{
    border-left: 2px solid grey;
    margin-top: 0px;
    width: fit-content;
}
  
.list.of.contents li{
    list-style: none;
    margin-bottom: 15px;
}
  
.header.contents {
    font-size: 1.3rem;
    margin-bottom: 10px;
}
  
.anchor-header {
    text-decoration: none;
    color: black;
}

h2, h3 {
    padding-left: 4px;
    font-size: 2rem;
}

/*Manga section*/
.manga-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

img[src="../img/bluelock-imgs/logo/Blue_Lock_Logo.png"],
img[src="../img/jjk-imgs/logo/jjk-logo.png"],
img[src="../img/aot-imgs/logo/aot-logo.png"] {
    width: 100%;
    height: auto;
}

img[src="../img/jojo-imgs/logo/jojo-logo.png"] {
    width: 70%;
    height: auto;
}

/*Anime section*/
.anime-studio {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
}

.power-system {
    display: flex;
    justify-content: center;
    gap: 40px;
}
  
img[alt*="weapon"] {
    border: 2px solid black;
}
  
figure {
    text-align: center;
}

/*character section*/
.character-img {
    border: 2px solid black;
    box-shadow: 2px 9px 19px 2px #000000;
}
  
.source {
    font-size: 0.7rem;
}
  
.container-for-characters {
    display: flex;
    justify-content: space-between;
}
  
.character-container {
    text-align: center;
}

.default-info {
    color: white;
    text-align: center;
    padding: 10px;
}

/*footer of the page*/
.page-footer {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center  ;
}
  
table {
    width: 60vw;
    border: 2px solid black;
    margin: auto;
}
  
caption {
    margin-bottom: 10px;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(235,235,235);
}
  
td {
    text-align: center;
}
  
tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}
  
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}
  
tfoot {
    font-weight: bold;
}