/*styles for whole document*/
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

/*styles for header*/
.header-container.bluelock {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}

.header.bluelock {
  flex: auto;
  color: white;
  background-color: #2e51a2;
  width: fit-content;
  padding: 5px 25px;
  border-radius: 20px;
  font-size: 2.5rem;
}

.navigation.other.sites {
  flex: auto;
  background-color: #2e51a2;
  width: 100%;
}

.list.of.other.sites {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 15px;
  margin: 0px;
  justify-content: center;
}

.list.of.other.sites li a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.list.of.other.sites li a:hover {
  background-color: black;
}

/*main body content*/
main.main-content {
  display: flex;
  padding: 20px;
  padding-left: 60px;
}

/*list of headers content*/
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
  flex: auto;
  margin: 25px;
  padding: 15px;
  width: 20vw;
  height: 350px;
  position: sticky;
  top: 30px;
}

.list.of.contents{
  border-left: 2px solid grey;
  margin-top: 0px;
  width: fit-content;
}

.list.of.contents li{
  list-style: none;
  margin-bottom: 15px;
}

.header.contents {
  font-size: 1.3rem;
  margin-bottom: 0px;
}

.anchor-header {
  text-decoration: none;
  color: black;
}

h2, h3 {
  border-left: 4px solid #2e51a2;
  padding-left: 4px;
  font-size: 2rem;
}