.header.bluelock {
  background-color: #2e51a2;
}

.navigation.other.sites {
  flex: auto;
  background-color: #2e51a2;
  width: 100%;
}

/*main body content*/
main.main-content {
  border-left: 10px solid #2e51a2;
  border-right: 10px solid #2e51a2;
  border-bottom: 10px solid #2e51a2;
}

.anchor-header:hover {
  color: #2e51a2;
  text-decoration: underline;
}

/*Add styling and font size to headers*/
h2, h3 {
  border-left: 4px solid #2e51a2;
}

.bandai-studio {
  display: flex;
  align-items: center;
}

img[src^="../img/bluelock-imgs/characters/"] {
  opacity: 0.7;
  transition: 0.6s ease;
}

img[src^="../img/bluelock-imgs/characters/"]:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.6s ease;
}

.default-info {
  background-color: #2e51a2;
}

#info-isagi,
#info-bachira,
#info-chigiri,
#info-kunigami {
  display: none;
}

@media screen and (max-width: 1400px){
  .contents {
    display: none;
  } 

  main.main-content {
    padding: 5px;
  }

  .bandai-studio,
  .anime-studio {
    flex-direction: column;
  }

  .power-system {
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-evenly;
  }

  .container-for-characters {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px){
  .manga-logo-container {
    flex-direction: column;
    gap: 20px
  }
}

@media screen and (max-width: 600px){
  h1 {
    font-size: 1.5rem!important;
  }

  .navigation.other.sites {
    font-size: 0.5rem;
  } 

  .list.of.list.of.other.sites a {
    padding: 0px;
  }

  .isagi-weapon,
  .chigiri-weapon {
    width: 100%;
    height: auto;
  }

  .bandai-logo,
  .eightbit-logo {
    width: 150px;
    height: auto;
  }

  #isagi,
  #kunigami,
  #chigiri,
  #bachira {
    width: 20vw;
    height: auto;
  }

  .character-header {
    font-size: 0.5rem;
  }
}