body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

div.main {
    display: flex;
}

.left-side, .right-side {
    flex: 0.5;
    align-self: flex-start;
    margin-top: 200px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.main-content {
    flex: 2;
    text-align: center;
}

.animes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer {
    margin-top: 20px;
    text-align: center;
}