.header.jjk {
  background-color: rgb(7, 55, 7);
}

.navigation.other.sites {
  flex: auto;
  background-color: rgb(7, 55, 7);
  width: 100%;
}

main.main-content {
  border-left: 10px solid rgb(7, 55, 7);
  border-right: 10px solid rgb(7, 55, 7);
  border-bottom: 10px solid rgb(7, 55, 7);
}

.anchor-header:hover {
  color: rgb(7, 55, 7);
  text-decoration: underline;
}

/*Add styling and font size to headers*/
h2, h3 {
  border-left: 4px solid rgb(7, 55, 7);
}

#anime-jjk {
  flex-direction: row;
}

.mappa-logo-img {
  flex: 1;
}

#power-system-jjk {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.power-system-container {
  display: flex;
}

.power-system-text {
  flex: 1;
}

.itadori-cursed-energy,
.nobara-cursed-energy {
  border: 2px solid black;
}

img[src^="../img/jjk-imgs/characters"] {
  opacity: 0.7;
  transition: 0.6s ease;
}
  
img[src^="../img/jjk-imgs/characters/"]:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.6s ease;
}

.default-info {
  background-color: rgb(7, 55, 7);;
}

#info-yuuji,
#info-megumi,
#info-nobara,
#info-satoru {
  display: none;
}

@media screen and (max-width: 1400px){
  .contents {
    display: none;
  } 
  
  main.main-content {
    padding: 5px;
  }
  
  .anime-studio {
    flex-direction: column;
  }
  
  .container-for-characters {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px){
  .manga-logo-container {
    flex-direction: column;
    gap: 20px
  }
}

@media screen and (max-width: 600px){
  .navigation.other.sites {
    font-size: 0.5rem;
  } 
  
  .list.of.list.of.other.sites a {
    padding: 0px;
  }
  
  .mappa-logo {
    width: 70%;
    height: auto;
  }
  
  img[src="../img/jjk-imgs/manga-covers/"] {
    width: 100px;
  }

  .power-system-container {
    flex-direction: column;
  }
  
  #yuuji,
  #megumi,
  #nobara,
  #satoru {
    width: 20vw;
    height: auto;
  }
  
  .character-header {
    font-size: 0.5rem;
  }

  #anime-jjk {
    flex-direction: column;
  }

  img[src^="../img/jjk-imgs/power-system"] {
    width: 100%;
  }
}